
use Mix.Config

config :loaded_bike, LoadedBike.Web.Endpoint,
  secret_key_base: "{{ secret_key_base }}"

config :loaded_bike, LoadedBike.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "{{ username }}",
  password: "",
  database: "loaded_bike_prod",
  hostname: "localhost",
  pool_size: 10
