
use Mix.Config

config :loaded_bike, LoadedBike.Web.Endpoint,
  secret_key_base: "{{ secret_key_base }}"

config :guardian, Guardian,
  issuer: "LoadedBike.#{Mix.env}",
  ttl: {30, :days},
  verify_issuer: true,
  serializer: LoadedBike.Web.Auth.GuardianSerializer,
  secret_key: to_string(Mix.env) <> "{{ secret_key_base }}"

config :loaded_bike, LoadedBike.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "{{ username }}",
  password: "{{ username }}",
  database: "{{ database }}",
  hostname: "localhost",
  pool_size: 10
